@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap');
.content_loading{

    .image_loading{
        width: 60px;
    }  
}

body{
    margin: 0;
    padding: 0;
}