@use '../_variables.scss' as f;
.container_paginate{
    width: 100%;
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        
        li{
            background-color: #15418cc4;
            padding: .5em;
            border-radius: .2em;
            cursor: pointer;
            margin: 0 .3em;
            &:hover{
                opacity: .8;
            }
            a{
                text-decoration: none;       
                color: #FFFFFF;
                font-family: f.$font_title;
            }
        }
    }
}