@use '../_variables.scss' as f;

.container_paginate{
    width: 100%;
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        .active{
            background-color: f.$font_color_error !important;
            transform: scale(1.2);
        }
        li{
            background-color: f.$bg_button_color;
            padding: .5em;
            border-radius: .2em;
            cursor: pointer;
            margin: 0 .3em;
            &:hover{
                opacity: .8;
            }
            a{
                text-decoration: none;       
                color: f.$font_color;
                font-family: f.$font_title;
                
            }
            
        }
    }
}