@use '../_variables.scss' as f;

.container_fav{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h1{
        color: #FFFFFF;
        font-family: f.$font_title;
    }
}