@use '../_variables.scss' as f;

.container_home{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-family: f.$font_title;
        color: #FFFFFF;
        margin: 0;
    }
}
.container_cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
