@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;500;600&display=swap');

$bg_page : #000000;

$bg_card : #555555;
$bg_card_hover: #363636;

$font_title : 'Titillium Web', sans-serif;
$font_color : #FFFFFF;

$bg_button_color: #15418cc4;
$bg_button_color_hover: #15418c;

$font_color_error: #b60303;
$separator_color: #888;

$denied_custom_color: #8c1515c4;
$denied_custom_color_hover: #8c1515;

$hover_item_navbar: #36363677;

$color_card_shadow: #f0f0f0d0;

$card_photo_h4_bg: #5d7fb9be;
$card_photo_h4_hover: #5d7fb9;
$card_photo_description_bg: #f0f0f09a;